/venv/
tickets_dataset.csv
/legacy files/tfidf_vectorizer2.pkl
/legacy files/tfidf_vectorizer.pkl
/legacy files/sbert_model.pkl
/legacy files/decision_tree_model2.pkl
/legacy files/knn_model.pkl
/legacy files/knn_sbert_model.pkl
/tickets_dataset_NEW.csv
